/*資料填寫start*/
#JudgmentFormat{
    margin-top:20px;
}
.passage-info-box{
    padding:10px 30px 20px 30px;
    background-color:#fff;
}
.passage-info-box .passage-info-title{
    font-size:16px;
    color:#007bd1;
    padding-bottom:15px;
    border-bottom: 1px solid #efefef;
}

.passage-info-box .passage-info-title span{
    color:#ff4500;
}

.passage-info-box .totalperiod,.panerl .totalperiod{
    border-bottom:2px solid #18b0f5;
}

.passage-info-box .totalperiod span,.panerl .totalperiod span{
    background:#18b0f5;
    color:#fff;
    padding:5px 15px;
    font-weight:bold;
    font-size:16px;
    display:inline-block;
    margin-top:20px;
}

 .passage-info-box .form-group{
    margin:0;
    padding-top:25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction:row;
    align-items:center;
   
}

 .passage-info-box  .form-group label {
     padding-right:0;
     font-weight:100;
     font-size:16px;
     white-space:nowrap; 
 }

.passage-info-box  .form-group input,.passage-info-box  .form-group select{
/*     color:#7a7a7a; */
    font-size:16px;
/*     font-weight:bold; */
    height:40px;
    line-height:40px;
    border:2px solid #bbb;
    border-radius:3px !important;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
 }

.passage-info-box .passage-info-label:before{
    content:"*";
    color:red;
}

.passage-info-box .birthDay {
    background-image: url('../../images/icons.png');
    background-position:-17px -140px;
    background-repeat: no-repeat;
}
.passage-info-box .errortext,.sondReceipt .errortext{
    color:#ff4500;
    position:absolute;
}

.sondReceipt .errortext{
    margin-left:85px;
    font-size:14px;
}

.passage-info-box .email-tips span{
    color: rgb(255, 69, 0);
    margin-left:10px;
}

.new-date-panel>.input{
    display:flex;
}

.new-date-panel>.input select{
    margin-right:2px;
}

.new-date-panel>.input select:first-child{
    width: 40%;
}


/*資料填寫end*/

/*退票條款細則 start*/
.tearms{
    font-size:16px;
    background-color:#fff;
    padding:30px;
}

.tearms>div.tearmsDiv{
    border: 1px solid #bdbacb;
    color: #5c5c5c;
    font-size: 14px;
    padding: 10px 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 248px;
    overflow-y: scroll;
    margin: 0 0 15px 0;
    font-weight:100;
    font-size:15px;
    line-height:2;
}

.tearms>div li{
   list-style-type: decimal;
   list-style-position: inside;
}

.agreeTearms u{
    color:#007bd1;
    
}

.agreeTearms input{
    position:absolute;
    z-index:-1;
}

.agreeTearms .errortext{
    color:#ff4500;
    font-size:14px;
}

.tearms>p.tearmsTitle{
    color:#007bd1;
    padding-bottom:10px;
    margin-bottom:20px;
    border-bottom:1px solid #e6e6e9;
}

.piaochecked {
width: 20px;
height: 20px;
float: left;
cursor: pointer;
margin-left: 10px;
text-align: center;
background-image: url(images/checkbox_01.gif);
background-repeat: no-repeat;
background-position: 0 0;
}

.on_check {
background-position: 0 -21px;
}
.radioclass {
opacity: 0;
cursor: pointer;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
}




.agreeTearms{
    cursor:pointer;
    font-weight:100;
}

.agreeTearms:hover{
    cursor:pointer;
}

.agreeTearms>input+i{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:3px;
    margin-right:5px;
    border: 2px solid #18B0F5;
    top: 4px;
    position:relative;
}

.agreeTearms > input:checked + i {
    background-image: url('../../images/icons.png');
    background-position:-183px -87px;
    background-repeat: no-repeat;
}

.sondReceipt{
    display:none;
}

/*退票條款細則 end*/

.opreatBtn{
    display:flex;
    justify-content:flex-end;
    margin-top:30px;
}

.opreatBtn button{
    display:inline-block;
    font-size:20px;
    text-align:center;
    border-radius:5px;
    width:180px;
    height:45px;
    line-height:40px;
    border:2px solid #ccc;
    box-sizing:border-box;
    background-color:rgba(0,0,0,0);
    color:#5c5c5c;
}

.opreatBtn button i {
    color:#ccc;
    margin:0 10px;
    }

.opreatBtn button.nextPage{
    background-color:#ffb420;
    color:#fff;
    border:none;
    margin-left:20px;
    line-height:45px;
    margin-bottom: 100px;
}


.opreatBtn button.nextPage i {
    color:#fff;
    }

.asPassebger{
    color: #7a7a7a;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border: 2px solid #bbb;
    border-radius: 3px !important;
    padding-left:5px;
    padding-right:5px;
    margin-left:10px;
}

/*收據start*/
.panerl{
    background-color:#fff;
    padding:0 30px;
}

.receipt{
    margin:0;
    padding:15px;
    font-size:16px;
    line-height:1.5;
}

.receipt label{
    margin-top:15px;
}

.receipt input[type*="text"] ,.receipt select{
    color: #7a7a7a;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    border: 2px solid #bbb;
    border-radius: 3px !important;
    margin-left:15px;
}

.receipt .adress-wrap label{
    margin:0;
    font-weight:100;
}

.receipt .adress-wrap{
    margin-top:25px;
}

.needVal{
    display:none;
}

.needVal input ,.needVal select{
    display:none;
}

.needVal input[id^='CardIssued'],.needVal input[id^='CardExpired']{
    display:none !important;
}


/*收據end*/

/*手機端start*/
@media(max-width: 767px) {

    #JudgmentFormat {
    display:flex;
    flex-direction:column-reverse;
    background:#fff;
    margin-top:0;
}

.order-info{
    background-color:#f3f3f3;
    padding-left:15px;
    padding-right:15px;
    }

.totalPrice{
    background-color:#fff1bb;
    margin-left:-15px;
    margin-right:-15px;
}

.totalPriceInfor{
    margin-left:0;
    margin-right:0;
    padding-left:15px;
    padding-right:15px;
}

    .totalPrice .price {
        margin-right: 60px;
    }

    .passage-info-box {
    padding: 30px 0 20px 0;
}
    .passage-info-box .totalperiod{
    border-bottom:none;
}
    .passage-info-box .form-group{
        flex-wrap: wrap;
    }

    .passage-info-box .passage-info-form .form-group,.passage-info-box> .form-group {
    border-left:1px solid #18b0f5;
    box-sizing: border-box;
}
    .passage-info-box .totalperiod span,.panerl .totalperiod span{
        padding-top:2px;
        padding-bottom:2px;
        padding-right:25px;
        border-bottom-right-radius:20px;
        border-top-right-radius:20px;
    }

    .passage-info-box .form-group label {
    font-weight: bold;
    font-size: 15px;
    color: #000;
    width:23%;
    font-size: 13px;
}
    .passage-info-label>.visible-xs{
        display: inline-block !important;
    }

    .passage-info-box .form-group,.passage-info-box .form-group .margin-top-15 {
        padding-top: 20px;
    }

    .passage-info-box .input-group{
        width:100%;
    }

    .passage-info-box .birthDay {
    background-image: url(../../images/icons.png);
    background-position: 10px -140px;
    background-repeat: no-repeat;
}
    .passage-info-box .form-group input, .passage-info-box .form-group select {
    border: 1px solid #bbb;
}
   .passage-info-box .form-group .phoneAreaList{
        padding-right:0;
    }

   .passage-info-box .form-group .phoneAreaList>select{
        font-size:12px;
        padding-left:5px;
    }

   .panerl {
     padding: 0 ;
}
   .panerl .totalperiod{
       border-bottom:0;
   }

   .panerl .receipt{
       border-left:1px solid #18b0f5;
       font-size:15px;
   }

   .receipt input[type*="text"], .receipt select {
    border: 1px solid #bbb;
    border-radius: 3px !important;
    margin-left: 0;
    font-size:15px;
}
   .chose_city,.postcode{
       width:35%;
       display:inline-block;
       box-sizing:border-box;
   }

   .chose_country,.postAddress{
       width:63%;
       float:right;
       display:inline-block;
       box-sizing:border-box;
   }

   .receipt .adress-wrap label{
       display:block;
   }

   .receipt .adress-wrap {
    margin-top: 15px;
}

   .tearms {
    padding:10px 15px;
    margin:30px -15px;
    background:#efefef;
}

   .flightTicktTeam {
    background-color: rgba(0,0,0,0);
    color: #007bd1;
    width: 100%;
    font-size:16px;
    margin-bottom:5px;
}
   .agreeTearms {
    font-size: 14px;
}
   .opreatBtn{
       margin:20px 0;
   }

   .opreatBtn button {
    font-size: 16px;
    text-align: left;
    width: 180px;
    height: 40px;
    line-height: 35px;
    border: 1px solid #ccc;
    color:#aaa;
}
   .opreatBtn button.nextPage {
    text-align: right;
    line-height: 35px;
}

   .sondReceipt .errortext{
    margin-left:0;
}

}

/*手機端end*/