<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="product.error" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/product.jsp"></property>
	</bean>
	
	<bean id="product.display" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/display.jsp"></property>
	</bean>

	<bean id="login.error" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/login.jsp"></property>
	</bean>

	<bean id="login.ok" class="org.springframework.web.servlet.view.RedirectView">
		<property name="url" value="/voyage/index.jsp"></property>
		<property name="contextRelative" value="true"></property>
	</bean>

	<bean id="flightsecound" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/flight/xianqi/step1.jsp"></property>
	</bean>
	
	<bean id="login.test" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/voyage/index.jsp"></property>
	</bean>

	<bean id="flightthird" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/flight/xianqi/step2.jsp"></property>
	</bean>
	<bean id="flightforth" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/flight/xianqi/step3.jsp"></property>
	</bean>
	<bean id="flightfifth" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/flight/xianqi/index.jsp"></property>
	</bean>
	
	<bean id="hotelRoom.search" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/voyage/hotel/roomTypeSearch.jsp"></property>
	</bean>
	
	<bean id="tour.buy" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/tour/Display2/order.jsp"></property>
	</bean>
	
	<bean id="tour.search" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/tour/tours_search.jsp"></property>
	</bean>

</beans>
